@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
 }
*{font-family: 'Pretendard-Regular';}
.container {
    width: 1200px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
table {
    border:0;
    padding:0;
    margin:0;
}
table caption { 
    display:none; 
}
a {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}
textarea, .inp, a:link, a:visited, a:hover, a:active {
    color: #555555;
}
.bbsList { 
    margin: 0 auto;
    display: table;
    clear:both; 
    width: 1080px; 
    border-collapse: collapse; 
}
.bbsList th { 
    border-color:#333333; 
    background: #fcfcfc;
    padding:10px 0 10px 0; 
    text-align:center; 
    border-top-width: 2px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    font-weight: 400;
}
.bbsList td {
    text-align: center;
    padding:5px 9px 5px 9px; 
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.bbsList .body td {
    text-align: center;
    padding:5px 9px 5px 9px; 
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.right {
    float: right;   
}

.left {
    float: left;
}

.center {
    float: none;
 }

.align_right {
    text-align: right;
}

.item_textarea{
    float:left;
    size: 13px;
    width: 667px;
    height: 118px;
    font-size-adjust: unset;
    padding: 15px 15px 15px 15px;
    margin: 10px 20px 10px 10px
}

.wrapper {

    display: table;
    width: 1080px;
    height: auto;
    margin: 0 auto;
    background-color:whitesmoke;
    height: 100vh;
    background: var(--light-bg);
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    margin-top: 10px;
}

.wrapper_main{
    width: 1080px;
    overflow: hidden;
    height: auto;
    background-color:whitesmoke;
}

.wrapper_top{
    width: 100%;
    height: 200px;

}

.wrapper_middle{
    overflow: hidden;
    width: 100%;
    margin-top: 35px;
}

.wrapper_box{
    float: left;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    box-sizing: border-box;

}


.wrapper_box span{
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.wrapper_box span:hover{
    color:gray;
}

.wrapper_box button{
    float: right;
}

.wrapper_item{
    overflow: hidden;
    width: 400px;
}

.wrap_list{
    box-sizing: border-box;
    float: right;
    width: 50%;
    height: auto;
    padding: 5px 5px;
}

.table_Item{
    
    table-layout: fixed;
    border-collapse: collapse; 
    text-align: left;
    line-height: 1.5;
    border-spacing: 1px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display:table;
    border-radius: 15px;
    clear:both; 
    width: 100%; 
    margin: 0 auto;
}

.table_Item th { 
    width: 100%;
    border-color:#333333; 
    background: #fcfcfc;
    padding:5px 0 5px 0; 
    text-align:center; 
    border-top-width: 2px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    vertical-align: middle;
    font-size: 15px;

 }

 .table_Item td { 
    border-color:whitesmoke; 
    background: #fcfcfc;
    padding:3px 0 3px 0; 
    text-align:center; 
    border-top-width: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    vertical-align: middle;
    font-size: 14px;
    height: 8px;
 }

 .table_Item td:hover { 
    background: #efefef;
 }