@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
*{font-family: 'Pretendard-Regular';}

*{box-sizing: border-box;}

body{
	margin:0;
	background-color: #ffffff;
	
}



a{color:inherit;text-decoration:none}
h1{
	text-align: center;
	font-weight: bold;
	color: #272343;
	font-size: 36px;
	padding-bottom: 30px;
}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	padding-top: 100px;
	min-height:670px;
	position:relative;
	
	
	
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:100px 90px 100px 90px;
	background:#fffffe;
	background-repeat : no-repeat;
    background-size : cover;
	height: 800px;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
	
}

	
	


.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
	
}
.login-form .group{
	padding: 10px 0px;
	
	
	
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border: 1px solid #fffffe;
	padding:15px 20px;
	border-radius:8px;
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
	background-color: rgba(224, 224, 224, 0.72);	
}


.group .label{
	color: #2d334a;
	font-weight: bold;
	font-size: 20px;
}


.login-form .group .label{
	font-size:12px;
}
.checkboxtype{
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
    line-height: 16px;
    cursor: pointer;
}
.buttonEx{
	padding-top: 5px;
}
.login-form .group .button{
	background:#ffd803;
	border: 1px solid #ffd803;
	box-shadow: none;
	color: #272343;
	border-radius: 0.375em;
	cursor: pointer;
	padding: 0 2.25em;
	height: 40px;
	font-size: 1em;
	
}





.sign-up-htm .group .label{
	font-size: 15px;
	padding-bottom: 10px;
	color: #2d334a;
	font-weight: bold;
	padding-left: 3px;
}

.group .emails .left{
	padding-top: 80px;
	
}
.group .emails .left .left_under{
	padding-top: 10px;
}

.left .right .button{
	background-color: #272343;
	border: 1px solid #272343;
	color: #fffffe;
}


.group .emails .right{
	padding-top: 10px;
	padding-bottom: 20px;
}
.group .emails .right .button{
	display: block;
    float: right;
    width: 170px;
}
.sign-up-htm .group .Btns {
	padding-top: 150px;
}
.sign-up-htm .group .Btns .rightBtn {
    float: left;
	width: 50%;
	padding-left: 15px;
	
}
.sign-up-htm .group .Btns .leftBtn {
    float: left;
	width: 50%;
	padding-right: 15px;
}
.sign-up-htm .group .Btns .leftBtn {
    float: left;
	width: 50%;
	padding-right: 15px;
}
.sign-up-htm .group .Btns .leftBtn .button {
   background-color: #272343;
   border: 1px solid #272343;
   color: #fffffe;
}





